table {
    display: inline;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #888;
}

.table-input {
    font-size: 1em;
}

.item-button {
    font-size: .8em;
}

#canvas-immediate-container {
    width: 60%;
    display: inline-block;
}

#canvas-controls {
    font-size: 2.15em;
}

.input-number-size-normalized {
    font-size: 1em;
}